.box {
    border-radius: 100em;
    font-weight: normal;
    font-size: 1.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h2 {
    position: relative;
}

span[data-align] {
    position: absolute;
    right: 0;
    border: none;
}

:root {
    --chip-green-bk: light-dark(oklch(90% 0.03 145), oklch(42% 0.1 145));
    --chip-green-bd: light-dark(oklch(60% 0.1 145), oklch(70% 0.1 145));
    --chip-red-bk: light-dark(oklch(90% 0.03 24), oklch(42% 0.1 24));
    --chip-red-bd: light-dark(oklch(60% 0.1 24), oklch(70% 0.1 24));
    --chip-blue-bk: light-dark(oklch(90% 0.03 242), oklch(42% 0.1 242));
    --chip-blue-bd: light-dark(oklch(60% 0.1 242), oklch(70% 0.1 242));
    --chip-yellow-bk: light-dark(oklch(90% 0.03 107), oklch(42% 0.1 107));
    --chip-yellow-bd: light-dark(oklch(60% 0.1 107), oklch(70% 0.1 107));
    --chip-purple-bk: light-dark(oklch(90% 0.03 340), oklch(42% 0.1 145));
    --chip-purple-bd: light-dark(oklch(60% 0.1 340), oklch(70% 0.1 145));
    --chip-green-bk-hc: black;
    --chip-green-bd-hc: oklch(75% 0.13 145);
    --chip-red-bk-hc: var(--chip-green-bk-hc);
    --chip-red-bd-hc: oklch(75% 0.13 24);
    --chip-blue-bk-hc: var(--chip-green-bk-hc);
    --chip-blue-bd-hc: oklch(75% 0.13 242);
    --chip-yellow-bk-hc: var(--chip-green-bk-hc);
    --chip-yellow-bd-hc: oklch(75% 0.13 107);
    --chip-purple-bk-hc: var(--chip-green-bk-hc);
    --chip-purple-bd-hc: oklch(75% 0.13 340);
}

/* Maintaining */
[data-align="left"] .box {
    background-color: var(--chip-green-bk);
    border: 2px solid var(--chip-green-bd);
}

/* Cancelled */
[data-align="right"] .box {
    background-color: var(--chip-red-bk);
    border: 2px solid var(--chip-red-bd);
}

/* Finished */
[data-align="center"] .box {
    background-color: var(--chip-blue-bk);
    border: 2px solid var(--chip-blue-bd);
}

/* On pause*/
[data-align="top"] .box {
    background-color: var(--chip-yellow-bk);
    border: 2px solid var(--chip-yellow-bd);
}

/* In progress*/
[data-align="bottom"] .box {
    background-color: var(--chip-purple-bk);
    border: 2px solid var(--chip-purple-bd);
}
