header {
    border-bottom: 1px solid var(--accent);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 0.5em;
}

h1 {
    position: relative; /* Allow the date to be absolutely positioned relative to it */
}

header * {
    margin: 0;
}

code {
    font-size: 1.2em;
}

.date,
.inline-date,
.history {
    font-weight: normal;
    font-size: 1.1rem;
}

.date,
.inline-date {
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    text-align: right;
    white-space: pre;
    width: max-content;
}

.inline-date {
    visibility: hidden;
}

.date {
    /* Increase the hoverable box to allow the user to move the mouse down to the box */
    position: absolute;
    right: 0;
    bottom: 0;
}

.history {
    position: absolute;
    right: 0;
    top: calc(-0.5em + 100%);

    border: 1px solid var(--accent);
    border-radius: 4px;
    background-color: var(--background);
    padding: 0.4em;
}

.history a {
    display: block;
    padding: 0.3em;
}

.history {
    visibility: hidden;
    opacity: 0%;
}

.date:hover + .history,
.history:hover {
    visibility: visible;
    opacity: 100%;
}
