<div class="webring">
    <span>
        <a href="https://ring.purduehackers.com/previous?host=hrovnyak.gitlab.io" class="prev" alt="Previous">←</a>
        <a href="https://ring.purduehackers.com" target="_blank">
            Purdue Hackers Webring
        </a>
        <a href="https://ring.purduehackers.com/next?host=hrovnyak.gitlab.io" class="next" alt="Next">→</a>
    </span>
</div>
